body {
    font-family: inter;
    margin: 20px auto;
    width: 550px;
    background:#1F2937;
}
.HeaderAndInput{
    text-align: center;
    color: white;
    padding-top: 20px;
    background: #6943FF;
    height: 285px;
    border:4px solid #6943FF;
}
#number-convert{
    width: 117px;
    height: 83px;
    text-align: center;
    font-size: 52px;
    background: #6943FF;
    border:2px solid #B295FF;
    color:white;
    font-weight: bold;
}
#convertBtn{
    display:block;
    margin: 20px auto;
    width: 117px;
    height:42px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: inter;
    font-weight: 500;
    }
.converter-section{
    height:500px;
    background: #F4F4F4;
    border:4px solid #F4F4F4;
}
.converters{
    margin: 40px auto;
    width:500px;
    background: white;
    color:#5A537B;
    text-align: center;
    height: 108.57px;
    padding-top: 15px;
}
